body,
html,
* {
    margin: 0;
    box-sizing: border-box;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    background-color: #ddd
}

body:before {
    content: attr(data-before);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
    background-color: #1ebea5;
    font-weight: bold;
    font-size: large;
    color: white;
    text-align: center;
    line-height: 50px
}


.kolom {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    color: #232323;
    background-color: #ddd
}

.wa-submit {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    background-color: #21a51f;
    color: #fff
}

form {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    display: inline-block;
}

.datainput {
    position: relative;
    float: left;
    height: 50px;
    margin-bottom: 5px
}

.datainput:before {
    content: attr(data-before);
    position: relative;
    float: left;
    line-height: 50px;
    text-align: center;
    height: 100%;
    width: 5%;
    background: #fff
}


#wa_select {
    position: relative;
    text-align: center;
    float: left;
    padding: 12px 0;
    color: #555;
    font-size: 14px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #85f983;
    outline: none;
    background: #fff
}

input {
    position: relative;
    height: 100%;
    color: #555;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #85f983;
    outline: none;
    background: #fff
}

input:focus {
    border-bottom: 1px solid #21a51f;
    outline: none
}

#wa_loc {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 12px
}

#wa_phone {
    float: right;
    width: 75%;
    text-align: left;
}

.detail {
    position: relative;
    float: left;
    padding: 10px;
    background-color: #ddd
}

.info {
    position: relative;
    float: left;
    padding: 10px;
    width: 100%;
    background-color: #fff;
}

.info blockquote {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
}

blockquote:before {
    font-weight: bold;
    content: attr(data-before);
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 5px;
}

.info button {
    position: relative;
    float: right;
    border: none;
    width: 100%;
    background-color: transparent;
    color: #21a51f;
    height: 30px
}

.info button:before {
    content: attr(data-before);
    position: relative;
    float: left;
    width: calc(100% - 30px);
    height: 100%;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    font-size: large;
    text-align: left;
}

.info button:after {
    content: attr(data-after);
    position: relative;
    float: left;
    width: 30px;
    height: 100%;
    line-height: 30px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.list {
    position: relative;
    border: none;
    border-left: 3px solid #21a51f;
    background-color: #fff;
    float: left;
    width: 100%;
    border-radius: 0;
    margin-bottom: 5px;
    padding: 10px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font.woff2) format('woff2');
}


#histori {
    padding: 10px;
    padding-bottom: 100px
}

#home,
#histori {
    padding-top: 100px;
    width: 100%;
    overflow: scroll;
}

#histori:before {
    content: attr(data-before);
    position: relative;
    float: left;
    width: 100%;
    font-weight: bold;
    height: auto;
    padding: 10px 0;
    color: #232323;
    background-color: #ddd
}

/** footer **/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

footer button {
    border: none;
    border-radius: 0;
    position: relative;
    float: left;
    width: calc(100%/3);
    height: 100%;
    padding: 5px;
    background-color: #1ebea5;
    color: #fff
}

footer button:after {
    content: attr(data-after);
    position: relative;
    float: left;
    width: 100%;
}

footer button:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    content: attr(data-before);
    position: relative;
    float: left;
    width: 100%;
}